@import '~bootstrap/scss/bootstrap';

.App {
  display: fluid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;

}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.drumContainer{
  background-color: #424853;
  border: 5px solid #04D9FF;
  max-width: 660px !important;
  min-width: 40vw !important;
  position: relative;
}

.drumCol{
  margin-block: 10px
}

.drumRow-mid{
  margin-block: 5px;
}

.drum-pad {
  width: 75px;
  height: 75px;
  margin: 5px;
}

.drumButtonClicked{
  width: 75px;
  height: 75px;
  margin: 5px;
  animation: clickAnimation 0.4s ease;
}

.controlContainer{
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  margin-top: 20px;
}
.control{
  margin: auto;
  width: 100px;
  display: block;
}

p{
  margin-bottom: 2px !important;
  margin-top: 15px;
}

.select{
  height: 20px;
  width: 50px;
  background-color: #282c34;
  margin: auto;
}

.inner{
  background-color: #04D9FF;
  height: 100%;
  width: 50%;
}

.inner:hover{
  cursor: pointer;
}

#display{
  font-size: 19px;
  width: 170px;
  height: 60px;
  padding: 15px;
  margin-inline: auto;
  margin-block: 15px;
  background-color: #282c34;
  color: #04D9FF;
}

@keyframes clickAnimation {
  0% {
    background-color: #0056b3;
  }
  50% {
    background-color: #007bff; 
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track{
  background: #04D9FF;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: #e0faff;
  height: 2rem;
  width: 1rem;   
}

input[type="range"]::-moz-range-track{
  background: #04D9FF;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb{
  border: none; 
  border-radius: 0; 
  background-color: #e0faff;
  height: 2rem;
  width: 1rem;
}



